body {
    background-color: black;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 20px;
}   

button {
    background-color: cornflowerblue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 999px;
    font-size: 20px;    
    border: 2px solid cornflowerblue;
}

button:hover {
    background-color: white;
    color: black;
    border: 2px solid cornflowerblue;
    cursor: pointer;
}